.container {
  position: relative;
  background-size: cover;
  background-color: rgba(21, 21, 21, 0.3);
  color: white;
  overflow-x: hidden;
}

.background {
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.title {
  text-align: center;
  padding: 7rem;
  z-index: 1;
}

@media (max-width: 1024px) {
  .title {
    padding: 6rem;
  }
}

@media (max-width: 768px) {
  .title {
    padding: 5.5rem;
  }
}



